footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    position: fixed;
    width: 100%;
    bottom: 0;
    
    z-index: 1000; 
}


.logo-git {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.logo-git:hover {
    transform: scale(1.2);
}