* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: var(--lightBlue);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.logo-web {
    width: 35%;
}
.zoom-hover:hover {
    transform: scale(1.1);
}
.navbar-container {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-item {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar-item a {
    text-decoration: none;
    color: var(--darkAquamarine);
}
.left {
    display: flex;
    align-items: center;
}
.left img {
    margin-left: 30px;
}
.menu-link {
    margin-left: 20px;
    padding: 0 20px;
    font-size: 20px;
    color: var(--aquamarineDark);
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}
.menu-link:hover {
    color: var(--yellow);
}
.right {
    margin-left: auto;
}
.right img {
    margin-right: 40px;
    width: 35px;
    height: auto;
}
.navbar-item a:hover {
    color: var(--yellow);
}
.auth-links {
    display: flex;
    gap: 15px;
}
.auth-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--darkAquamarine);
    transition: color 0.3s ease-in-out;
}
.auth-link:hover {
    color: var(--yellow);
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.profile-pic {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--darkAquamarine);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.dropdown:hover .profile-pic {
    transform: scale(1.2);
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
}
.dropdown-content a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    transition: background 0.3s;
}
.dropdown-content a:hover {
    background-color: #F1F1F1;
}
.dropdown:hover .dropdown-content {
    display: block;
}